@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-sm">

<<<<<<< HEAD
      <h1 style="color: red;">This is a list of Courses</h1>    
=======
      <h1 style="color: bordeaux;">This is a list of Courses - Another Version</h1>    
>>>>>>> 25a0745e392967b7d4693ba72fb05e961198783d

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th class="th-sm" scope="col">Course ID</th>
            <th class="th-sm" scope="col">Course Name</th>
            <th class="th-sm" scope="col">Rating</th>            
          </tr>
        </thead>
         
          <tbody>
            @foreach(Course course in @Model.Courses)
            {
            <tr>
            <th scope="row">@course.CourseID</th>
            <td>@course.CourseName</td>
            <td>@course.Rating</td>            
          </tr>
          }

          </tbody>  
</div>
